@{ 
    ViewData["Title"] = "Giới Thiệu";
}

<div class="flex-grow flex items-center justify-center min-h-[70vh]">
    <h1 class="text-3xl md:text-5xl font-black tracking-tighter uppercase text-center max-w-4xl leading-tight px-6 text-neutral-800">
        OWE LÀ THƯƠNG HIỆU THỜI TRANG TỐI GIẢN TẬP TRUNG VÀO CHẤT LIỆU VÀ FORM DÁNG CHUẨN MỰC.
    </h1>
</div>
